@import "tailwindcss";

.text-gradient {
  background: linear-gradient(to bottom, blue, teal); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; 
}

.background-colour{
  background-image: url("../src/assets/resume2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

