@import "tailwindcss";

.text-gradient {
  background: linear-gradient(to bottom, blue, teal); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; 
}

